<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>Express Page</title>
    <link rel="stylesheet" href="/public/src/css/style.css">
  </head>
  <body>
    <header>
      <% include partials/header.ejs %>
    </header>
    <h1>Home</h1>
    <footer>
      <% include partials/footer.ejs %>
    </footer>
  </body>
</html>
